*{
    margin: 0;
  }
  header {
    margin: 0 auto;
  }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152ed2;
    padding: 10px 100px;
  }
  h1 {
    color: white 
  }
  button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 17px;
    font-weight: 700;
    color: white;

  }
 
  